// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: darken(#428bca, 20%);
// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap";

// 5. Add additional custom code here

body{
    background-color: lightgray;
    font-weight: bold;
    font-style: italic;
}
// HEADER - FILTERS
#search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#filterButton{
    display: flex;
    justify-content: center;
}
// CASTING LIST
#listCasting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#littleCasting {
    display: flex;
    flex-direction: column ;
    max-width: 310px;
}
#more{

}

// FOOTER
.footer {
    background-color: #f5f5f5;
}
