<div class="container">
    <div class="col-xs-12">
        <h1>Megacasting</h1>
    </div>
    <div id="nav-header">
        <div class="col-md-3" id="search">
            <form class="d-flex" action="/">
                <input class="form-control p-2" type="search" placeholder="Search" aria-label="Search" name="s">
                <button class="btn btn-outline-success align-center" type="submit">Search</button>
            </form>
        </div >
        <div class="col-md-9">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="/">Accueil</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cinéma</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Musique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Danse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Théatre</a>
                            </li>
                            <form class="input-group ">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Identifiant"
                                           aria-label="Example text with button addon"
                                           aria-describedby="button-addon1">
                                    <input type="password" class="form-control" placeholder="Mot de passe"
                                           aria-label="Example text with button addon"
                                           aria-describedby="button-addon1">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                                        Connexion
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">
                                        Inscrivez-vous
                                    </button>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>