<div class="bg-light p-4 mt-5 rounded-2 border-1 shadow" id="littleCasting">
    <h2>{{ casting.intitule }}</h2>
    <img src="{{'img/pouet.jpeg' }}" width="250px">
    <p>{{ casting.descriptionPoste }}</p>
    <a href="/casting/{{ casting.idCasting }}" id="more">Voir plus..</a>
</div>
